* { margin:0; padding:0; box-sizing:border-box; }
body{
	color:#333;
	font-family: Helvetica, arial, sans-serif;
	font-size:16px;
	line-height:1.3;
}
section {
    padding: 5em 0;
}
footer {
     background-color: grey;
     color: white;
}
#intro {
    background: url(../images/jogger.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}
.cta {
	display:inline-block;
     padding: 15px;
     background-color: #5cc2a1;
     color: white;
     text-decoration:none;
}
